@model PageModel
<p>Some text here</p>

<div class="flex flex-col gap-10 lg:grid lg:overflow-hidden lg:grid-cols-2 lg:grid-rows-1 lg:gap-2">
    <div class="bg-gray-200 rounded-3xl px-4 my-8">
        <div class="flex flex-col gap-8 flex-auto text-center">
            <h2>Most popular posts</h2>
            <a href=""></a>
        </div>
    </div>
    <div class="bg-gray-200 rounded-3xl px-4 my-8">
        <div class="flex flex-col gap-8 flex-auto text-center">
            <h2 class="">My favorites</h2>
            <a href=""></a>
        </div>
    </div>
</div>
